* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debug {
  background-color: rgba(138, 43, 226, 0.2);
  border: 1px solid black;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Utility */
.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.sp-between {
  justify-content: space-between;
}
.tx-center {
  text-align: center;
}
.margin-auto {
  margin: 0 auto;
}
.list {
  list-style: none;
}
.w-60{
  width: 60%;
}
img {
  width: 100%;
}
.txt-decor {
  text-decoration: none;
}
.txt-uppercase {
  text-transform: uppercase;
}
h4, h6{
  text-transform: capitalize;
}
h3 {
  color: white;
  font-size: 1.5rem;
  margin-left: 40px;
}

h6 {
  color: #A3A3A3;
}

/* main */
aside {
  width: 150px;
  height: calc(100%-90px);
  flex-shrink: 0;
  padding: 5px;
  background-color: black;
}
aside img {
  padding: 20px 0 0;
}
aside{
  padding: 10px 15px;
}
aside ul {
  margin-top: 20px;
}
aside a{
  color: #A3A3A3;
}
aside li i {
  font-size: 1.5rem;
  margin: 5px;
}
aside li a {
  font-size: .8rem;
  overflow: auto;
  line-height: 30px;
}
aside li a:hover {
  color: white;
}
aside h4 {
  font-size: .8;
  margin-top: 30px;
  color: white;
}



aside .profile {
  flex-direction: column;
  align-self: baseline;
  height: 50px;
}






.header {
  width: 100%;
  justify-content: flex-end;
  height: 90px;
  padding: 20px 0 20px;
  background-color: #090B12;
}
.header a{
  padding: 13px 50px;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}

main .container {
  height: calc(100vh - 90px);
  width: 100%;
  overflow: auto; 
  background-color: #141922;
}
.main_wrapper {
  height: 100%;
}


nav {
  margin: 20px 0 40px;
}

nav li {
  color: #A3A3A3;
  font-weight: 700;
}

nav li:hover {
  border-bottom: 3px solid #ADFF30;
}





main .content .row{
  width: 95%; 
  margin: 0 auto;
}

main .content .row .card {
  padding: 5px;
  margin: 20px 0 50px 0;
  max-width: 190px;
  color: white;
}

main .content p {
  color: #A3A3A3;
  margin-left: 40px;
  line-height: 40px;
}

main .content .rec-play,.pop-artist,.create-for .card {
  text-align: center;
}
main .content .pop-artist .card img{
  border-radius: 50%;
}

/* fine main */


footer {
  height: 90px;
  width: 100%;
  background-color: #090B12;
}
footer .brano-sx .col{
  flex-direction: column;
  padding-top: 25px
}
footer .brano-sx .col h3 {
  margin-left: 0;
  font-size: 0.8rem;
}

footer .brano-sx .col-heart {
  padding-top: 30px;
  margin-left: 80px;
}

footer .brano-sx .col-heart i {
  color: #A3A3A3;
}

footer .brano-sx img{
  width: 60px;
  margin: 15px;
}

footer .media-big {
  width: 40%;
  text-align: center;
}

footer .media-big i {
  margin: 20px;
  width: 70px;
  color: white;
}

/* footer .media-big .line {

} */