* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debug {
  background-color: rgba(138, 43, 226, 0.2);
  border: 1px solid black;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Utility */
.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.sp-between {
  justify-content: space-between;
}
.tx-center {
  text-align: center;
}
.margin-auto {
  margin: 0 auto;
}
.list {
  list-style: none;
}
.w-60{
  width: 60%;
}
img {
  width: 100%;
}
.txt-decor {
  text-decoration: none;
}
.txt-uppercase {
  text-transform: uppercase;
}
h4, h6{
  text-transform: capitalize;
}
h3 {
  color: white;
  font-size: 1.5rem;
}
h6 {
  color: #A3A3A3;
}
.d-none {
  display: none;
}

/* main */
aside {
  width: 230px;
  height: calc(100vh - 90px);
  flex-shrink: 0;
  background-color: black;
  z-index: 100;
}
aside .aside-top {
  height: calc(100% - 80px);
}
aside .aside-top img {
  padding: 10px 15px;
}
aside .aside-top ul {
  position: relative;
  margin-top: 10px;
}
aside .aside-top .home li a {
  color: #A3A3A3;
  margin-left: 60px;
  line-height: 30px;
}
aside .aside-top .home li a:hover {
  color: white;
}
aside .aside-top .home li:hover {
  border-left: 3px solid #ADFF30;
}
aside .aside-top ul i{
  position: absolute;
  left: 8%;
  font-size: 1.5rem; 
}

aside .aside-top .playlist {
  position: relative;
  height: calc(100% - 200px);
  padding: 10px 15px;
}
aside .aside-top .playlist i {
  color: #A3A3A3;
  position: absolute;
  left: 15px;
  top: 55px;
  font-size: 2.5rem;
}
aside .aside-top .playlist > a {
  margin-left: 40px;
  font-size: 1rem;
  color: #A3A3A3;
}
aside .aside-top .playlist i:hover {
  color: white;
}
aside .aside-top .playlist a:hover {
  color: white;
}

aside .aside-top .playlist li i {
  font-size: 1.5rem;
}
aside .aside-top .playlist li a {
  font-size: .8rem;
  line-height: 35px;
}
aside .aside-top .playlist li a:hover {
  color: white;
}
aside .aside-top .playlist h4 {
  font-size: .8;
  margin: 20px 0;
  color: white;
}

aside .aside-top .playlist .name-play {
  overflow: auto;
  height: calc(100% - 120px);
}
aside .aside-top .name-play a {
  color: #A3A3A3;
}



aside .profile {
  height: 80px;
  display: block;
  color: white;
  margin: 10px 5px;
}
aside .profile a {
  text-decoration: none;
  color: #A3A3A3;
  font-size: .8rem;
}
aside .profile a i {
  margin: 10px;
}
aside .profile a img {
  width: 30px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #A3A3A3;
}
aside .profile .john a {
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
aside .profile span {
  color: white;
  font-weight: 800;
  font-size: 1rem;
}




.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  justify-content: flex-end;
  height: 90px;
  padding: 20px;
  background-color: rgba(9, 11, 18,.3);
}
.header a {
  padding: 15px 50px;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}
.header a:hover {
  border: 1px solid #A3A3A3;
  color: #A3A3A3;
}


main .container {
  position: relative;
  height: calc(100vh - 90px);
  max-width: 100%;
  overflow: auto; 
  background-color: #141922;
  padding-top: 90px;
}

.nav {
  max-width: 98%;
  margin: 20px 0 40px;
}
.nav ul {
  width: 70%;
  margin: 0 auto;
}
.nav li {
  color: #A3A3A3;
  font-weight: 700;
}
.nav li:hover {
  border-bottom: 3px solid #ADFF30;
  color: white;
  text-align: center;
}


/* inizio main  */
main .content {
  max-width: 98%;
  height: calc(100% - 90px);
  margin: 0 auto;
}
main .content .row {
  width: 100%;
  margin-bottom: 40px;
}
main .content .row .card {
  width: calc(90% / 6);
  margin: 30px 10px 10px 0;
}
main .content .row .card a {
  color: white;
  text-decoration: none;
}
main .content .row .card img {
  position: relative;
  background-color: #090B12;
  z-index: 0;
  display: block;
}


main .content p {
  color: #A3A3A3;
  line-height: 40px;
}
main .content .rec-play,.pop-artist,.create-for .card {
  text-align: center;
}
main .content .pop-artist .card img{
  border-radius: 50%;
}
main .content .row .card .img-hover {
  position: relative;
  margin-bottom: 10px;
}
main .content .row .card .img-hover .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}
main .content .row .card .img-hover span {
  font-size: 40px;
  color: #A3A3A3;
}
main .content .row .card:hover .img-hover .hover{ 
  display: flex;
  align-items: center;
  justify-content: center;
}


main .content .row:last-child .pop-artist .hover  {
  border-radius: 50%;
}

/* fine main */

/* inizio footer */
footer {
  height: 90px;
  width: 100%;
  background-color: #090B12;
}
/* inizio parte sinistra, brano in riproduzione */
footer .brano-sx{
  width: 300px;
}
footer .brano-sx .col-music {
  margin-top: 30px;
}
footer .brano-sx .col-music a {
  text-decoration: none;
}
footer .brano-sx .col-music h3 {
  font-size: 0.8rem;
}
footer .brano-sx .col-heart {
  margin: 35px 0 0 30px;
}
footer .brano-sx .col-heart i {
  color: #A3A3A3;
}
footer .brano-sx img{
  width: 60px;
  margin: 15px;
}


footer .media-big {
  width: 40%;
  height: 100%;
  text-align: center;
}
footer .media-big .buttons {
  height: 50%;
  width: 100%;
}
footer .media-big .buttons i {
  margin: 15px;
  width: 5px;
  padding-top: 10px;
  font-size: 1.3rem;
  color: white;
}
footer .media-big .media-bar {
  height: 50%;
  align-items: center;
  font-size: .7rem;
  color: white;
}
footer .media-bar .line {
  width: 80%;
  height: 5px;
  background-color: rgba(255, 255, 255, .2);
  margin: 0 20px 0 20px;
  border-radius: 10px;
}
footer .media-bar .line .trenta {
  width: 30%;
  height: 5px;
  background-color: #c1c1c1;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-end;
}
footer .media-bar .line .trenta .point {
  width: 10px;
  height: 10px;
  background-color: #c1c1c1;
  border-radius: 50%;
}
footer .media-bar .line:hover .point{
  display: block;
}

footer .media-small {
  width: 200px;
  margin: 40px 5px;
  padding-right: 10px;
}
footer .media-small i{
  color: white;
  margin-right: 10px;
  font-size: 0.8rem;
}
footer .media-small .media-bar {
  width: 100px;
  justify-content: flex-end;
}
footer .media-small .media-bar .line {
  margin: 0;
  width: 100px;
}


/* RESPONSIVE */

@media screen and (max-width: 1100px) {
  .nav ul li {
    margin: 20px 10px;
  }
  main .content .row {
    width: 100%;
    justify-content: flex-start;
  }
  main .content .row .card {
    width: calc(90% / 4);
    margin-right: 10px;
  }
}

@media (max-width: 700px) {
  .nav ul {
    width: 90%;
    justify-content: center;
  }
  .nav ul li {
    margin: 20px 15px;
  }
  
  main .content .row .card {
    width: calc(90% / 2);
    margin-right: 10px;
  }

  footer .brano-sx{
    width: 210px;
  }

  footer .media-big {
    width: 80%;
    text-align: center;
  }

  footer .media-small {
    width: 150px;
  }
  footer .media-small .media-bar .line {
    width: 75px;
  }
}

@media (max-width: 600px) {
  aside {
    width: 50px;
  }
  aside img, .home, .playlist, .name-play, .profile a, .john span, hr{
    display: none;
  }
  aside .aside-top .spotify-xs {
    display: block;
    width: 100%;
    line-height: 30px;
    margin: 8px;
  }
  aside .aside-top .spotify-xs > img {
    width: 70px;
    margin-left: -35%;
  }
  aside .aside-top .spotify-xs i {
    color: #A3A3A3;
  }
  aside .aside-top .spotify-xs i:hover {
    color: white;
  }

  aside .profile-spotify-xs {
    display: block;
    text-align: center;
  }
  aside .profile-spotify-xs a {
    color: #A3A3A3;
  }
  aside .profile-spotify-xs a img {
    display: block;
    width: 30px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #A3A3A3;
  }
  aside .profile-spotify-xs a:hover {
    color: white;
  }
  aside .profile-spotify-xs a img:hover {
    background-color: black;
  }

  .nav ul {
    width: 98%;
    justify-content: center;
  }
  .nav ul li {
    margin: 20px 10px;
  }
}